{% assign selectedVariant = product.first_or_selected_variant %}

<div class="product-page">
  <div class="width">
    <div class="product">
      <div class="product-image">
        <img src="{{ product.featured_image | img_url: 'master' }}">
      </div>

      <div class="product-content">
        <h2>{{ product.title }}</h2>
        <p class="produce-price">{{ selectedVariant.price | money }}</p>

        <div class="product-description ">
          {{ product.description }}
        </div>

        {% form 'product', product %}
          <label class="product-option">Options</label>
          <select class="product-select" name="id">
            {% for variant in product.variants %}
              <option
                {% if selectedVariant.id == variant.id %}
                  selected
                {% endif %}
                value="{{ variant.id }}"
              >
                {{ variant.title }}
              </option>
            {% endfor %}
          </select>

          <div class="product-quantity">
            <label for="quantity">Quantity</label>
            <input name="quantity" id="quantity" value="1">
          </div>

          <button class="button product-add" type="submit">Add to cart</button>
        {% endform %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main product",
  "settings": [],
  "presets": [
    {
      "name": "Main product"
    }
  ]
}
{% endschema %}
